body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffe2e2;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.top-text{
    width:100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-text h1{
    color: #393e46;
}
.top-text h3{
    color: #393e46;
}
.top-text p{
    color: #393e46;
}
.box{
    width:200px;
    height: 340px;
    background-color: #f6f6f6;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.details strong{
    font-weight: 500;
    color: #393e46;
    letter-spacing: 1px;
    margin-top: 10px;
    text-align: center  ;
}           
.details p{
    font-size: 0.8rem;
    color: #393e46;
    margin: 5px 0px;
}
.details h1{
    color: #aaaaaa;
}
.btn{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}
.btn a{
    color:#393e46;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 0.9rem;
}
.btn a:hover{
    color: #fff;
    background-color: #ffc7c7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all ease 0.3s;
}
.box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: all ease 0.1s;
}
@media(max-width:612px){
    .box{
        flex-grow: 1;
    }
}